# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Django-specific
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Ignore all migrations except for the initial __init__.py
**/migrations/*
!**/migrations/__init__.py

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
env.bak/
venv.bak/

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local development
local_settings.py
